@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins-SemiBold.ttf);
}

:root {
  --primarycolor: #710984;
  --black: #000;
  --inputColor: #9b96b7;
  --white: #fff;
  --green: #068822;
  --red: #b80d0d;
  --backGreen: rgba(6, 136, 34, 0.1);
  --backRed: rgba(184, 13, 13, 0.1);
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
  width: 100%;
  box-shadow: 0 4px 0 var(--black);
  padding: 30px 110px;
}

.login-page form {
  display: flex;
  align-items: center;
  gap: 14px;
}

.navbar > h2 {
  color: var(--primarycolor);
  font-size: 24px;
  font-weight: 500;
}

.login-page input {
  border-radius: 6px;
  border: 1px solid var(--inputColor);
  background: var(--white);
  padding: 12px 16px;
  color: var(--inputColor);
  font-size: 16px;
  font-weight: 400;
  width: 150px;
  outline: 0;
}

.login-page button {
  border-radius: 6px;
  border: 1px solid var(--primarycolor);
  padding: 12px 16px;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  width: 150px;
  border: none;
  outline: 0;
  cursor: pointer;
}

.navbar p {
  color: var(--primarycolor);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  text-shadow: 2px 3px 5px var(--primarycolor);
  background-color: transparent;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 40px;
  padding: 0 150px;
  width: 100%;
  column-gap: 1fr;
}

.payment {
  grid-column: 1/2;
}
.pay-history {
  grid-column: 3/4;
  grid-row: 1/2;
}


.main h2{
  color:var(--black);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}



.my-card{
   
}
.hidden {
  display: none;
}S

/* .card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 20px;
  background: linear-gradient(68deg, #041464 -15, 21%, #94058e 10%);
  color: #fff;
  padding: 20px 30px;
}

.card > .fullName {
}

.transfer form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.transfer input::placeholder {
}

.transfer input {
  color: #9b96b7;
  color: black;
  font-size: 18px;
  font-weight: 400px;
  padding: 6px 10px;
  border-bottom: 2px solid var(--input);
}

.hidden {
  display: none;
} */
